:root{
    --bg: #0a131a;
    --sky: #0f1d28;
    --lamp: #1c1c1c;
    --light: #4c4c4c;
}

.lamp-container{
    display: flex;
    justify-content: space-around;
    margin-top: 119px;
    width: 100%;
    height: 100%;
}
.lamp{
    width: 10px;
    height: 100px;
    background-color: var(--lamp);
    z-index: 20;
    position: relative;
}

.ball{
    width: 14px;
    height: 14px;
    z-index: 20;
    background-color: var(--lamp);
    position: absolute;
    top: -66px;
    left: -2px;
    border-radius: 50%;
}

.top-point{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--lamp);
    position: absolute;
    top: -55px;
    left: -15px;
    z-index: 20;
}

.top-point{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--lamp);
    position: absolute;
    top: -55px;
    left: -15px;
    z-index: 20;
}

.top-point:before{
    z-index: 4;
    display: block;
    content: "";
    width: 2px;
    height: 25px;
    background-color: var(--lamp);
    position: absolute;
    top: 20px;
    left: -10px;
}

.top-point;after{
    content: "";
    display: block;
    z-index: 4;
    width: 2px;
    height: 25px;
    background-color: var(--lamp);
    position: absolute;
    top: 20px;
    left: 8px;
}
